.expo
*.ttf
*.woff
*.woff2
*.txt
*.png
*.webp
*.ico
*.gif
*.jpg
*.jpeg
*.wav
*.mp3
.npmrc
LICENSE
.pnpm-store
.idea
pnpm-lock.yaml
.DS_store
.gitignore
.prettierignore
android
ios

# npm files
package.json
package-lock.json